.App-Light {
  background-color: rgba(33, 33, 33, .5);
}
.App-Dark {
  background-color:rgba(33, 33, 33, .9);
}
.mode-Light{
    background-image: url('./components/images/moon(2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width:30px;
    height:30px;
}
.mode-Dark{
  background-image: url('./components/images/sun.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width:30px;
  height:30px;
}
.app-login{
    margin-left:10px ;
    border-radius:10px;
    padding-top: 6px;
    padding-bottom: 5px;
}
.full-app {
  display: flex;
}

.left-bar {
  width: 250px; /* Adjust the width as necessary */
  background-color: #f0f0f0; /* Suitable color for left bar */
  padding: 10px; /* Add some padding for aesthetics */
}
html, body {
  height: 100%;
  margin: 0;
}

.full-app {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-bar {
  width: 250px; /* Fixed width for left bar */
  background-color: #f0f0f0; /* Suitable color for left bar */
  padding: 10px; /* Add some padding for aesthetics */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.app-content {
  flex: 1; /* Allow this area to take the remaining space */
  background-color: #fff; /* Background color for main content */
  padding: 20px; /* Padding for main content */
  overflow-y: auto; /* Allow scrolling if content overflows */
}
