body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url("C:\Users\unmes\OneDrive\Desktop\EL\SkinDiseaseAI2\chat-app\src\components\InputText\assets\fine.gif");
  background-size: auto;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  
}

html, body {
  height: 100%; 
  overflow: hidden; 
}

.treatment-plan {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

.treatment-plan h2, .treatment-plan h3 {
  margin-bottom: 10px;
}

.treatment-plan h2 {
  font-size: 24px;
  color: #333;
}

.treatment-plan h3 {
  font-size: 20px;
  color: #555;
  margin-top: 20px;
}

.treatment-plan p, .treatment-plan ul li {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.treatment-plan ul {
  list-style-type: disc;
  margin-left: 20px;
}

.treatment-plan strong {
  font-weight: bold;
}

.treatment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.treatment {
  width: calc(48vw * 1.5);
  text-align: left;
}


h1, h2, p {
  margin: 0;
  padding: 0;
}

.map-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 10vh;
}

.header {
  text-align: center;
  padding: 10px;
  color: #fff;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1rem;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.input-text, .input-file {
  padding: 10px;
  margin: 0px 0;
  width: 300px;
  border: 1px solid #f00000;
  border-radius: 4px;
  font-size: 1rem;
}

.doctor-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 20px;
  margin: 20px;
}

.doctor-card {
  padding: 15px;
  background-color: #3a4e6f; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 300px;
}

.doctor-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}

.doctor-card p {
  font-size: 16px;
  color: #f0f0f0;
  margin: 10px 0;
  line-height: 1.6;
}

.doctor-link {
  display: inline-block;
  padding: 12px 25px;
  color: #fff;
  background-color: #6897b2;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.doctor-link:hover {
  background-color: #567a9b; 
}

.doctor-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("C:\Users\unmes\OneDrive\Desktop\EL\SkinDiseaseAI2\chat-app\src\components\InputText\assets\ok.gif");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.doctor-link:hover::before {
  opacity: 0.3; 
}

.ip-search {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 60%;
  height: 40px;
  margin-top: 10px; 
}

.ip {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 50px; /* Space for upload button */
  border: 2px solid black;
}

.upload-button {
  position: absolute;
  left: 9px; /* Place the upload button inside the input field */
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, #2d525d, #c4f1fe, #a3ceda);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, 0.3s ease;
  top: 23px;
}

.upload-icon {
  width: 20px;
  height: 20px;
  background: url("C:/Users/unmes/OneDrive/Desktop/EL/SkinDiseaseAI2/chat-app/src/components/images/clipIcon.png")
    no-repeat center;
  background-size: contain;
}

.upload-button:hover{
  cursor: pointer;
  background: linear-gradient(45deg,  #c4f1fe, #a3ceda,#2d525d);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.search-button  {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(45deg, #2d525d, #c4f1fe, #a3ceda);

  transform: translateX(0%) scale(1.1); 
  
  right:9px;
  top: 67%;
  margin-top: -22px;
  padding: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease,  0.3s ease;
}

.search-button:hover {
  cursor: pointer;
  transform: translateX(0%) scale(1.16);
  background: linear-gradient(45deg,  #c4f1fe, #a3ceda,#2d525d);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.magnifying-glass {
  width: 100%;
  height: 100%;
  background:image("SkinDiseaseAI2\chat-app\src\components\images\searchIcon.png") no-repeat center;
  background-size: 70%;
  transition: transform 0.3s ease;
}

.search-button:hover .magnifying-glass {
  transform: rotate(360deg);
}
.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 35px;
  height: 35px;
}

.spinner {
  border: 4px solid transparent;
  border-top: 4px solid #2196f3;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.query-box {
  align-self: flex-end;
  border-radius: 30px; 
  border: 1px solid rgba(0, 0, 0, 0.1); 
  background: linear-gradient(145deg, #38d9a9, #2e8b72); 
  padding: 14px 20px; 
  margin-left: 12px; 
  max-width: fit-content;
  color: white; 
  font-size: 16px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.query-box:hover {
  background: linear-gradient(145deg, #32b59b, #249f7d); 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
}

.res-box {
  background-image: url("C:\Users\unmes\OneDrive\Desktop\EL\SkinDiseaseAI2\chat-app\src\components\InputText\assets\oknice.gif");
  background-position: center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  margin-top: 70px; 
  margin-right: auto;
  row-gap: 25px; 
  max-height: 600px; 
  overflow-y: auto;
  scrollbar-width: thin;  
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0);  
  
  
  padding: 20px; 
}

.res-box::-webkit-scrollbar {
  width: 4px;  
  height: 4px; 
}

.res-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 10px;  
}

.res-box::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); 
}


.res {
  font-size: 1.2rem; 
  margin-left: 0px;
  color: #09488b; 
  font-weight: 600; 
}

.res-desc-box {
  display: flex;
  flex-direction: column;
  row-gap: 14px; 
  border-radius: 30px; 
  background: linear-gradient(145deg, #f7f7f7, #e2e2e2); 
  padding: 18px 24px; 
  max-width: fit-content;
  color: #333; 
  font-size: 16px; 
  border: 1px solid rgba(0, 0, 0, 0.1); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
  margin-bottom: 16px; 
  transition: all 0.3s ease; 
}

.res-desc-box:hover {
  background: linear-gradient(145deg, #e2e2e2, #d4d4d4); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.result-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.result-card h2 {
  font-size: 1.5rem;
  color: #4a90e2;
  margin-bottom: 10px;
}

.result-card p {
  font-size: 1rem;
  color: #555;
}

.hed-ini{
    margin-left: 10px;
    font-size: 30px;
}
.explain-ini{
    margin-left: 10px;
    width: calc(56vw * 1.5);
    font-size: 20px;
    height: auto;
    text-align: left;
}